#hero-content h1::before{
    content: "Get in Touch!";
    color: white;
    position: absolute;
    top: -3px;
    left: -5px;
    -webkit-text-stroke: 2px black;
    z-index: -1;
}
#panel2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    position: relative;
}
.container{
    border: 2px solid white;
    border-radius: 2rem;
    width: 90%;
    padding: 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.location{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative
}
.location img{
    width: 100%;
    border-radius: 2rem;
}
.contactinfo{
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.contactinfo h4{
    font-weight: 500;
}
.contactinfo a{
    color: white;
}
.contactinfo button{
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: blue;
    border: 2px solid white;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    &:hover{
        transform: scale(103%);
    }
}