#hero-content h1::before{
    content: "Get in Touch!";
    color: white;
    position: absolute;
    top: -3px;
    left: -5px;
    -webkit-text-stroke: 2px black;
    z-index: -1;
}
#panel2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}