@media only screen and (max-width: 600px) {
    body{
        width: 100vw;
    }
    #logo{
        height: 30px;
    }
    nav h4{
        color:#fefae0;
        display: none;
    }
    #orderonlinenav{
        display: none;
    }
    #menuicon{
        font-size: 24px;
        display: block;
    }
    #cursor_blur{
        height: 200px;
        width: 200px;
    }
    #panel1{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #hero-content{
        width: 80vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
    }
    #hero-content h1{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 0;
        top: 0px;
        left: 0px;
    }
    #herocontp{
        height: 40vh;
    }
    #herocontp h3{
        width: 70%;
        font-size: 20px;
        line-height: 22px;
    }
    #herocontp p{
        width: 90%;
        font-size: 12px;
        line-height: 14px;
    }
    #panel2{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    #scroll_in h4{
        font-size: 60px;
        line-height: 70px;
    }
    #about{
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-top: 0;
    }
    #about_content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about_content h3{
        font-size: 30px;
        line-height: 35px;
    }
    #about_content p{
        width: 90%;
        font-size: 12px;
        line-height: 14px;
    }
    #about img{
        height: 120px;
        width: 90px;
    }
    #aboutbot{
        width: 80vw;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }
    #imgaboutbot1{
        display: none;
    }
    #imgaboutbot{
        display: inline;
    }
    #panel3{
        height: 100vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .card{
        height: 25vh;
        width: 80vw;
        padding: 10px;
    }
    .cardtext h4{
        font-size: 14px;
        line-height: 16px;
        margin-top: 0px;
    }
    .cardtext p{
        font-size: 10px;
        line-height: 12px;
        margin-top: 3px;
    }
    #greendiv{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    #greendiv h4{
        font-size: 14px;
        line-height: 20px;
    }
    #panel4{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    #panel4 #images{
        height: 40%;
        width: 80%;
    }
    #panel4 #text{
        height: 60%;
        width: 80%;
    }
    #text h4{
        font-size: 22px;
        line-height: 24px;
        margin-top: 0;
    }
    #text p{
        font-size: 14px;
        line-height: 18px;
    }
    #orderonline{
        height: 40px;
        width: 70%;
    }
    #orderonline h4{
        font-size: 16px;
    }
    #panel5{
        display: none;
    }
    #panel6{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #panel6 #p6heading{
        display: none;
    }
    .p6card{
        height: 25vh;
        width: 28vw;
    }
    .p6card h4{
        font-size: 15px;
    }
    #panel7{
        height: auto;
        width: 100vw;
    }
    footer{
        height: 65vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    #footertop{
        height: 85%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-top: 0;
        padding-bottom: 10px;
    }
    #logos{
        justify-content: left;
        height: 20%;
        width: 100%;
    }
    #list{
        height: 55%;
        width: 50%;
    }
    #list h4{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    #contact p{
        font-size: 12px;
        line-height: 14px;
    }
    #contact h4{
        font-size: 14px;
        line-height: 18px;
    }
    #footerbottom p{
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }
    #footerbottom{
        height: 15%;
        padding: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}