*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
a{
    text-decoration: none;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}
body{
    width:100vw;
    overflow-x: hidden;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #fefae0;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all 0.5s ease-out;
    border: 0px solid #fefae0;
}
#cursor_blur{
    height: 400px;
    width: 400px;
    background-color: #fefae040;
    border-radius: 50%;
    position: fixed;
    filter: blur(70px);
    z-index: 9;
    transition: all 2.5s ease-out;
}
nav{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 99;
}
nav h4{
    color:#fefae0;
}
nav h4:hover{
    color: white;
}
#menuicon{
    font-size: 24px;
    display: none;
    color: #fefae0;
}
#logo{
    height: 50px;
}
#orderonlinenav{
    height: 40px;
    width: 150px;
    background-color: black;
    border: 2px solid #fefae0;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#orderonlinenav h4{
    font-weight: 400;
    color: #fefae0;
    margin-top: 0;
    font-family:  Arial, sans-serif;
}
#orderonlinenav:hover h4{
    color: white;
}
#mainvid{
    height: 100vh;
    width: 100vw;
    position: fixed;
    object-fit: cover;
    top: 0;
    z-index: -10;
    filter: saturate(0.7) hue-rotate(-2) brightness(1.2);
}
#main{
    height: auto;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}
#panel1{
    height: 110vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
    z-index: 10;
}
#hero-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;position: relative;
}
#hero-content h1{
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 900;
    position: relative;
    color: black;
}
#hero-content h1::before{
    content: "Eat. Drink. Play.";
    color: white;
    position: absolute;
    top: -3px;
    left: -5px;
    -webkit-text-stroke: 2px black;
    z-index: -1;
}
#herocontp{
    height: 30vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#herocontp h3{
    font-size: 28px;
    font-weight: 900;
    margin: 15px;
}
#herocontp p{
    width: 60%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 24px;
}
#panel2{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 10;
}
#scroll{
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 10;
    position: relative;
    margin-bottom: 100px;
}
#scroll_in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroll_in h4{
    display: inline-block;
    font-size: 110px;
    font-weight: 900;
    -webkit-text-stroke: 2px white;
    color: transparent;
    margin-right: 20px;
    transition: all linear 0.5s;
}
#scroll_in h4:hover{
    color: #d4a373;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
}
#about_content{
    width: 60%;
    text-align: center;
}
#about_content h3{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}
#about_content p{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}
#about img{
    height: 200px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    filter: saturate(0.7) hue-rotate(-2) brightness(1.2);
}
#aboutbot{
    position: relative;
}
#imgaboutbot{
    display: none;
}
#panel3{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 10;
}
.card{
    height: 80vh;
    width: 25vw;
    border-radius: 15px;
    background-size: cover;
    background-color: #fefae0;
    z-index: 10;
    position: relative;
    padding: 20px;
}
#card1{
    background-image: url(https://images.unsplash.com/photo-1620124302502-9143f273d860?q=80&w=1498&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    filter:saturate(0.7) hue-rotate(-2) brightness(1.2);
    transition: all 1s ease;
}
#card1:hover{
    background-image: none;
}
#card2{
    background-image: url(https://images.unsplash.com/photo-1568367489975-224c15825231?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    filter: saturate(0.7) hue-rotate(-2) brightness(1.2);
    transition: all 1s ease;
}
#card2:hover{
    background-image: none;
}
#card3{
    background-image: url(https://plus.unsplash.com/premium_photo-1681335986095-5a9585e77246?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    filter: saturate(0.7) hue-rotate(-2) brightness(1.2);
    transition: all 1s ease;
}
#card3:hover{
    background-image: none;
}
.cardtext{
    position: relative;
    opacity: 0;
}
.cardtext h4{
    margin-top: 30%;
    font-size: 32px;
    color: #d4a373;
    font-weight: 900;
    transition: all 0.5s ease;
    position: relative;
}
.cardtext p{
    font-size: 18px;
    line-height: 32px;
    color: #d4a373;
    font-weight: 200;
    margin-top: 20px;
    transition: all 0.5s ease;
    position: relative;
}
.card:hover .cardtext{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}

#greendiv{
    height: 30vh;
    width: 100%;
    color: #fefae0;
    background-color: #d4a373;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 10;
}
#greendiv img{
    height: 30vh;
    width: 15%;
    filter: invert(100%);
    mix-blend-mode: screen;
    position: relative;
    object-fit: cover;
}
#greendiv h4{
    font-size: 20px;
    line-height: 40px;
    width: 50%;
    position: relative;
    color: white;
    font-weight: 900;
}
#panel4{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}
#panel4 #images{
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#imagediv{
    height: 70%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transition: all 0.5s ease;
}
#imagediv img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transition: all 0.5s ease;
    filter: saturate(0.7) hue-rotate(-2) brightness(1.2);
}
#dots{
    height: 40px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    transition: all 0.5s ease;
    cursor: pointer;
}
#panel4 #text{
    height: 80%;
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#text h4{
    font-size: 40px;
    font-weight: 900;
    margin-top: 20px;
}
#text P{
    font-size: 18px;
    line-height: 40px;
    margin-top: 20px;
}
#orderonline{
    height: 50px;
    width: 35%;
    background-color: black;
    border: 2px solid #fefae0;
    border-radius: 30px;
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#orderonline h4{
    font-size: 16px;
    font-weight: 400;
    color: #fefae0;
    margin-top: 0;
    font-family:  Arial, sans-serif;
}
#orderonline:hover h4{
    color: white;
}
#panel5{
    height: 80vh;
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#panel5 img{
    height: 40px;
    position: absolute;
    z-index: 10;
}
#colun1{
    top: 20vh;
    left:15vw;
}
#colun2{
    bottom: 20vh;
    right:15vw;
}
#reviews{
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reviews h4{
    font-size: 24px;
    font-weight: 900;
    width: 60%;
    line-height: 35px;
    text-align: center;
}
#panel6{
    height: 50vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}
#panel6 #p6heading{
    font-size: 70px;
    font-weight: 900;
    color: black;
    -webkit-text-stroke: 1px white;
    position: relative;
    top: 30px;
    z-index: 10;
}
#p6cards{
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 11;
}
.p6card{
    height: 25vh;
    width: 25vw;
    background-color: #fefae0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.p6card h4{
    font-size: 38px;
    color:#d4a373;
    font-weight: 900;
    transition: all 0.5s ease;
    width: 100%;
    text-align: center;
}
.p6card:hover h4{
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}
#p6card1:hover{
    background-image: url(https://plus.unsplash.com/premium_photo-1664187387258-eb04255af337?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    filter: saturate(0.7) hue-rotate(-2) brightness(1.2);
}
#p6card2:hover{
    background-image: url(https://images.unsplash.com/photo-1544219548-0cbb0eebc84b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
    filter: saturate(0.7) hue-rotate(-2) brightness(1.2);
}
#p6card3:hover{
    background-image: url(https://images.unsplash.com/photo-1615177981645-51107b202210?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHRhYmxlJTIwdGVubmlzfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
    filter: saturate(0.7) hue-rotate(-2) brightness(1.2);
}
#panel7{
    height: 50vh;
    width: 100vw;
    color: #000;
    background-color: #d4a373;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 80%;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
}
#footertop{
    height: 70%;
    width: 100%;
    position: relative;
    display: flex;
}
#footerbottom{
    height: 30%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logos{
    width: 20%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list{
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#list h4{
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 25px;
    &:hover{
        color: white;
    }
}
#contact{
    display: flex;
    flex-direction: column;
    position: relative;
}
#contact p{
    font-size: 18px;
    font-weight: 600px;
    margin-bottom: 5px;
    color: #000;
}
#contact h4{
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    color: #000;
    &:hover{
        color: white;
    }
}
a:hover{
    color: white;
}
#footerbottom p,i,a{
    color: #000;
}

@media only screen and (max-width: 600px) {

}